* {
    background-color: #06141e;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: white;
}
header {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    padding-left: 60px;
    display: flex;
    align-items: center;
    
}
.logo-img {
    height: 80px;
    padding-right: 20px;
}
.header-gr-el {
    height: 150px;
    padding-left: 90px;
}
.navigation {
    display: flex;
    margin-right: 40px;
}
a {
    text-decoration: none;
    font-size: large;
}
a:hover {
    text-decoration: underline;
   }
.line {
    width: 2px;
    height: 20px;
    background-color: #fff;
    margin-right: 10px;
    margin-left: 10px;
}
.search {
    display: flex;
    align-items: center;
    margin-right: 40px;
}
.search-img {
    height: 20px;
    margin-left: 5px;
}
input {
    padding: 5px;
    border-radius: 15px;
    border-color: white;
    margin-left: 40px;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 100px;
}
.main-title {
    margin-bottom: 50px;
    margin-right: 70px;
}
.text {
    display: flex;
    align-items: center;
}
.main-text {
    
    margin-right: 100px;
    margin-left: 40px;
}
.main-text p {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
}
.main-img {
    width: 450px;
    margin-left: 100px;
}

footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
h2 {
    margin: auto;
    margin-bottom: 40px;
}
.footbar {
    display: flex;
    margin: auto;
    margin-bottom: 30px;
}
p {
    color: gray;
    margin: auto;
    margin-bottom: 20px;
}
.contact {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-size: large;
    color: #fff;
    border: solid 2px;
    width: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;
    border-radius: 8px;
}